[Desktop Entry]
Name=Second Temple
Comment=Explore the Second Temple
Exec=secondtemple 
Icon=${SNAP}/meta/gui/secondtemple.png
Terminal=false
Type=Application
Categories=Games; # Adjust accordingly your snap category.
